<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vicent.pushnotification">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/polls_tap"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/polls_tap"
        android:supportsRtl="true">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/MainActivityTheme.Day">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:launchMode="singleTop"
            android:theme="@style/OtherActivityTheme.Day" />

        <service
            android:name=".backstage.MainService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".backstage.NotifListenerService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".backstage.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <provider
            android:authorities="com.vicent.pushnotification.MainActivity"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
    </application>
</manifest>